.navbar-brand h1 {
  font-size:150%;
  margin-bottom:0;
}

.navbar-dark .navbar-brand,.navbar-dark .navbar-brand:hover,.navbar-dark .navbar-brand:focus {
  color:#ddd;
  text-shadow:1px 0px rgba(0,0,0,0.5);
}

section > h2 {
  margin-top:0.75rem;
  margin-bottom:0.75rem;
}

article > h3 {
  font-size:1.1rem;
  margin-bottom:0.75rem;
}

.navbar-toggler {
  border:none;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  outline:none;
}

.navbar-collapse {
  display:flex;
  justify-content: space-between;
}

.navbar {
  flex-direction: row-reverse;
}

header {
  background-color:#c81111a8;
  display:flex;
}

header nav {
  flex:1;
}

#banner-pic {
  width:100%;
  height:150px;
}

@media (max-width:575px) {
  .navbar-expand-sm .dropdown-menu {
    background:none;
    border:none;
    padding:0;
  }
  
  .navbar-expand-sm .dropdown-menu a {
    color:#fff;
  }
  
}

#left-inset {
  background:#aaa;
  box-shadow: inset -5px 5px 5px,inset 0px -5px 5px;
}

#right-inset {
  background:#aaa;
  box-shadow:inset 5px 5px 5px,inset 0px -5px 5px;
}
