header, footer {
  background-color:black;
  color:white;
}

a:link, a:visited {
  text-decoration:none;
  color:black;
}

#homeMenu {
  display:none;
  list-style:none;
}

div.expandingMenu:hover ul#hiddenMenu {
  display:block;
}
