* {
  box-sizing: border-box;
  margin:0;
}

body {
  color:blue;
  font-family: serif;
}

h1, h2, h3 {
  text-align:center;
  color:black;
  margin-bottom:5px;
}

article {
  border: 10px solid orange;
  padding: 5px;
}

header, footer {
  background-color:black;
  color:white;
  margin:0;
  padding:5px;
}

header {
  position:relative;
  border-bottom: 1px solid orange;
}

footer {
  text-align:center;
}

ul {
  overflow:hidden;
}

a:link, a:visited {
  text-decoration:none;
  color:blue;
}

#homeMenuContent a:link, #homeMenuContent a:visited {
  display:block;
  color:black;
  padding:3px;
  background-color: white;
  border: 1px solid gray;
}

ul#homeMenuContent {
  list-style-type:none;
  padding-left:0;
  text-align: left;
  margin: 0;
}

ul#homeMenuContent li {
  text-align: center;
}

#homeMenu {
  position:absolute;
  background-color: black;
  padding:5px;
  display:none;
  box-shadow: 2.5px 5px 10px gray;
}

#homeMenuHover:hover + #homeMenu {
  display:block;
}

#homeMenu:hover {
  display:block;
}

@media (orientation:landscape) {
  section {
    float:left;
    width:50%;
  }
  footer {
    clear:both;
  }
}
