header, footer {
  background-color:black;
  color:white;
}

a:link, a:visited {
  text-decoration:none;
  color:black;
}

#homeMenu ul {
  display:block;
  list-style:none;
  color:white;
}

div.expandingMenu:hover ul#hiddenMenu {
  display:block;
}
