* {
  transform-style: preserve-3d;
}

.scene {
  height:100vh;
  display:flex;
  background:linear-gradient(to bottom,#fff,#aaa,#000);
  perspective:1500px;
}

.cube-item {
  position:absolute;
  top:50%;
  left:50%;
  transform:scale(50%);
}

.cube, .cube-face {
  position:absolute;
}

.cube {
  transform:rotateX(-30deg);
  transition:transform 0.5s;
}

.display-case {
  position:absolute;
  transform:translateZ(400px);
}

.display-spin {
  animation:displayCase 8s linear infinite/*,quickSpin 0.2s linear 3*/;
}

@keyframes displayCase {
  25% {
    transform:translateZ(400px) translateY(-50px) rotateY(90deg);
  }
  50% {
    transform:translateZ(400px) translateY(-100px) rotateY(180deg);
  }
  75% {
    transform:translateZ(400px) translateY(-50px) rotateY(270deg);
  }
  100% {
    transform:translateZ(400px) rotateY(360deg);
  }
}

/*@keyframes quickSpin {
  25% {
    transform:translateZ(400px) rotateY(90deg);
  }
  50% {
    transform:translateZ(400px) rotateY(180deg);
  }
  75% {
    transform:translateZ(400px) rotateY(270deg);
  }
  100% {
    transform:translateZ(400px) rotateY(360deg);
  }
}*/

/*.cube:hover {
  transform: translateZ(400px) rotateY(360deg) rotateX(-360deg);
}*/

.cube-face {
  width:200px;
  height:200px;
  margin:-100px;
  display:flex;
  background:skyblue;
  justify-content:space-around;
  align-items:center;
  border:1px solid black;
  box-shadow:inset 0px 0px 20px 10px #fff;
  transition:width 0.5s, height 0.5s, top 2s, left 2s;
}

.cube-face:nth-child(1) {
  transform:translateZ(100px);
}

.cube-face:nth-child(2) {
  transform:rotateY(180deg) translateZ(100px);
}

.cube-face:nth-child(3) {
  transform:rotateY(-90deg) translateZ(100px);
}

.cube-face:nth-child(4) {
  transform:rotateY(90deg) translateZ(100px);
}

.cube-face:nth-child(5) {
  transform:rotateX(90deg) translateZ(100px);
}

.cube-face:nth-child(6) {
  transform:rotateX(-90deg) translateZ(100px);
}

.cube-shadow {
  position:absolute;
  top:275px;
  width:340px;
  height:25px;
  margin:-12.5px -170px;
  border-radius:50%;
  box-shadow:0px 0px 10px 5px rgba(0,0,0,0.8);
  background:rgba(0,0,0,0.8);
}

.shadow-shrink {
  animation-name:shadowShrink;
  animation-duration:4s;
  animation-timing-function:linear;
  animation-direction:alternate;
  animation-iteration-count:infinite;
}

@keyframes shadowShrink {
  to {
    width:320px;
    height:15px;
    background:rgba(0,0,0,0.5);
    box-shadow:0px 0px 10px 5px rgba(0,0,0,0.5);
  }
}

.ice-button {
  position:absolute;
  width:150px;
  height:50px;
  margin:-25px -75px;
  background:skyblue;
  box-shadow:2px 2px 5px 0px,inset 0px 0px 20px 10px #fff;
  border:none;
  transition:visibility 0.5s, opacity 0.5s;
}

.button-show {
  animation:buttonsAppear 1s ease-out 1, buttonRise 8s linear infinite;
}

@keyframes buttonRise {
  25% {
    transform:translateY(-50px);
  }
  50% {
    transform:translateY(-100px);
  }
  75% {
    transform:translateY(-50px);
  }
  100% {
    transform:translateY(0px)
  }
}

@keyframes buttonsAppear {
  from {
    top:0px;
    left:0px;
  }
}

.ice-button:nth-child(1) {
  top:-400px;
  left:-300px;
}

.ice-button:nth-child(2) {
  top:-400px;
}

.ice-button:nth-child(3) {
  top:-400px;
  left:300px;
}

.ice-button:nth-child(4) {
  top:-300px;
  left:-300px;
}

.ice-button:nth-child(5) {
  top:-300px;
}

.ice-button:nth-child(6) {
  top:-300px;
  left:300px;
}

.menu-reset {
  animation: menuReset 0.5s;
  visibility:hidden;
  opacity:0;
}

@keyframes menuReset {
  to {
    top:0;
    left:0;
  }
}

section {
  position:absolute;
  top:50%;
  left:50%;
  height:0;
  width:0;
  overflow:hidden;
  transition:top 1s, left 1s, width 1s, height 1s;
}

.active-page {
  top:0;
  left:5vw;
  width:90vw;
  height:100vh;
  background:skyblue;
  box-shadow:inset 0px 0px 20px 10px #fff;
  border:1px solid black;
}
